<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Travel App</title>
    </head>
    <body>
        <div id="app">
            <div class="header">
                <h1>Travel App</h1>
            </div>
            <div class="search">
                <h2>Add your next trip</h2>
                <div class="search-input">
                    <div class="search-input__destination">
                        <label for="destination">My trip to:</label>
                        <input type="text" id="destination" placeholder="Enter where do you want to go">
                    </div>
                    <div class="search-input__departure">
                        <label for="date">Departure:</label>
                        <input type="date" id="startDate" placeholder="Enter when do you want to go">
                    </div>
                    <div class="search-input__arrival">
                        <label for="date">Arrival:</label>
                        <input type="date" id="endDate" placeholder="Enter when do you want to return">
                    </div>
                    <button id="searchSubmit" type="submit">Search</button>
                </div>
            </div>
            <div class="result">
                <div class="result-layout">
                    <div class="result-layout__img">
                        <img id="result-img" alt="Destination image" src="https://img.icons8.com/cute-clipart/100/000000/suitcase.png" />
                    </div>
                    <div class="result-layout__data">
                        <div class="result-layout__data-location">
                            <h3>My trip to:</h3>
                            <div class="result-layout__data-location-name" id="resultLocationName"></div>
                        </div>
                        <div class="result-layout__data-departure">
                            <h3>Departing:</h3>
                            <div class="result-layout__data-departure-date" id="resultDepartureDate"></div>
                            <div class="result-layout__data-departure-daysLeft" id="resultDepartureDaysLeft"></div>
                        </div>
                        <div class="result-layout__data-arrival">
                            <h3>Arrival:</h3>
                            <div class="result-layout__data-arrival-date"></div>
                            <div class="result-layout__data-arrival-tripLength"></div>
                        </div>
                        <!--TODO: Add Save and Remove buttons-->
                        <div class="result-layout__data-weather">
                            <h3>Weather:</h3>
                            <div class="result-layout__data-weather-temp"></div>
                            <div class="result-layout__data-weather-apptemp"></div>
                            <div class="result-layout__data-weather-description"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="holder feel">
                <label for="feelings">How are you feeling today?</label>
                <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>
                <button id="generate" type="submit"> Generate </button>
            </div>            
            <div class="holder entry">
                <div class="title">Most Recent Entry</div>
                <div id="entryHolder">
                    <div id="date"></div> 
                    <div id="temp"></div>
                    <div id="content"></div>
                </div>
            </div>
            -->
            <footer>
                Developed by Aldo Vignone
            </footer>
        </div>
    </body>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }

        window.addEventListener('load', () => {
            Client.addEventListeners();
        });
    </script>
</html>