<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Travel App</title>
    </head>
    <body>
        <div id="app">
            <div class="header">
                <h1>Travel App</h1>
            </div>
            <div class="search">
                <h2>Search your next trip</h2>
                <div class="search-input">
                    <div class="search-input__destination">
                        <label for="destination">My trip to:</label>
                        <input type="text" id="destination" placeholder="Enter where do you want to go">
                    </div>
                    <div class="search-input__departure">
                        <label for="date">Departure:</label>
                        <input type="date" id="date" placeholder="Enter when do you want to go">
                    </div>
                    <button id="searchSubmit" type="submit">Search</button>
                </div>
            </div>
            <div class="result">
                <h2>Result:</h2>
                <div class="result-layout">
                    <div class="result-img"></div>
                    <div class="result-data">
                        <div class="result-data__location">
                            <h3>Location:</h3>
                            <div id="result-data__location"></div>
                        </div>
                        <div class="result-data__departure">
                            <h3>Departure:</h3>
                            <div id="result-data__departure"></div>
                        </div>
                        <!--TODO: Add Save and Remove buttons-->
                        <div class="result-data__weather">
                            <h3>Weather:</h3>
                            <div id="result-data__weather"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="holder feel">
                <label for="feelings">How are you feeling today?</label>
                <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>
                <button id="generate" type="submit"> Generate </button>
            </div>            
            <div class="holder entry">
                <div class="title">Most Recent Entry</div>
                <div id="entryHolder">
                    <div id="date"></div> 
                    <div id="temp"></div>
                    <div id="content"></div>
                </div>
            </div>
            -->
            <footer>
                Developed by Aldo Vignone
            </footer>
        </div>
    </body>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }

        window.addEventListener('load', () => {
            Client.addEventListeners();
        });
    </script>
</html>