.header {
    grid-area: header;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 30px;

    &-title {
        margin-left: 5%;
        padding: 2%;
        width: 30%;
        background-color: #00B2CA;

        & > h1 {
            vertical-align: middle;
            white-space: nowrap;
            color: black;
        }
    }
}