.header {
    grid-area: header;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 30px;

    & > h1 {
        vertical-align: middle;
        margin-left: 5%;
    }
}