.result {
    grid-area: result;
    background: #7DCFB6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;

    & > h2 {
        font-weight: bold;
    }

    &-layout {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "image data";
        align-items: center;
        justify-items: center;
        padding: 3vh 0;

        &__img {
            grid-area: image;
            width: 100%;
            height: 50vh;
            & > img {
                background-color: white;
                width: 100%;
                height: 100%;
                object-fit: contain;
                box-sizing: border-box;
                padding: 1vw;
            }
        }

        &__data {
            grid-area: data;
            justify-self: start;
            padding-left: 5vw;

            &-location,
            &-departure,
            &-arrival,
            &-weather {
                margin: 2vh 0;
            }

            &-location {
                & > h3 {
                    font-weight: bold;
                    display: inline-block;
                }

                &-name {
                    display: inline-block;
                }
            }

            &-departure {
                & > h3 {
                    font-weight: bold;
                    display: inline-block;
                }

                &-date {
                    display: inline-block;
                }

                &-daysLeft {
                    display: inline-block;
                    font-style: italic;
                }
            }

            &-arrival {
                & > h3 {
                    font-weight: bold;
                    display: inline-block;
                }

                &-date {
                    display: inline-block;
                }

                &-tripLength {
                    display: inline-block;
                    font-style: italic;
                }
            }

            &-weather {
                & > h3 {
                    font-weight: bold;
                }

                &-temp,
                &-apptemp,
                &-description {
                    padding-left: 3vw;
                }

                &-description {
                    font-style: italic;
                }
            }
        }
        
    }
}