.search {
    grid-area: search;
    background: #f23557;
    
    &-input {
        display: flex;
        justify-content: center;        

        &__destination {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5px;
        }
    
        &__departure {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5px;
        }

        #submit {
            padding: 0 5px;
        }
    }    
}