body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 100%;
    height: 100%;
}

#app{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "trip"
        "footer";
    color: #f0d43a;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.header {
    grid-area: header;
}

.search {
    grid-area: trip;
    background: #f23557;

    &-destination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-departure {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer {
    grid-area: footer;
    justify-self: end;
    min-height: 1vh;
    margin: 1vh 1vw 1vh 1vw;
    padding-top: 1vh;
    border-top: 2px solid #dbe2e8;
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 8px;
    text-transform: uppercase;
    text-shadow: 0 0 1px skyblue;
    font-weight: bold;
}

.feel {
    display: grid;
    grid-template-rows: auto;
}

.entry{
    background: rgba(59, 74, 107, .4);
    min-height: 100px;
}

#entryHolder{
    font-size: 15px;
    color: #e4debdc4;
}

#date{

}

#temp{

}

#content{

}

.title{
    font-size: 26px; 
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    justify-self: right;
    background: #3b4a6b;
    color: hsl(51, 86%, 58%);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 