@import './header.scss';
@import './search.scss';
@import './result.scss';
@import './footer.scss';

html {
    width: 100%;
    height: 100%;
}

body {
    background: #fffff8;
    font-family: Gadugi, sans-serif;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    display: grid;
    grid-template-rows: 20% 15% auto;
    grid-template-areas:
        "header"
        "search"
        "result"
        "footer";
    color: black;
    grid-gap: 1em;
    font-size: 20px;
}